.box {
  border-radius: 30px;
  height: 3rem;
  background: linear-gradient(225deg, #3873a9, #4289c9);
  box-shadow: -32px 32px 65px #356da0, 32px -32px 65px #4793d8;
  margin-bottom: 3rem;
  text-align: center;
  color: white;
  width: 22rem;
  height: 10rem;
  margin-top: 3rem;
}
.maincard {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
  margin: auto;
  column-gap: 5rem;
}

svg {
  width: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.layout {
  display: grid;
  grid-template-columns: 17rem auto;
  width: 70%;
  margin: auto;
  column-gap: 6rem;
}

input,
select {
  width: 100%;
  background-color: transparent;
}

input[type="text"] {
  font-size: 24px;
}

th {
  padding: 1rem;
  font-size: 1.5rem;
  background: black;
  color: white;
}

select {
  border-color: white;
  padding: 0.5rem;
  color: white;
}

.background {
  border-radius: 30px;
  width: 80%;
  background: linear-gradient(225deg, #3873a9, #4289c9);
  box-shadow: -32px 32px 65px #356da0, 32px -32px 65px #4793d8;
  margin-bottom: 3rem;
  text-align: center;
  color: white;
  padding: 2rem;
  margin-top: 2rem;
}

option:not(:first-of-type) {
  color: black;
}

.sub-btn {
  grid-column: 1/-1;
}

.postbtn {
  margin-top: 1rem;
  padding: 5px 10px;
  width: 50%;
  border-radius: 5px;
  background: hsla(201, 100%, 50%, 0.1);
  border: 1px solid hsl(201, 100%, 50%);
  outline: none;
  font-size: 1.5em;
  color: #fff;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 70%;
  margin: auto;
  table-layout: fixed;
  margin-bottom: 3rem;
}

/* thead {
   

    tr {
      background: ${(p) => p.theme.colors.PRIMARY_COLOR};

      th {
        color: ${(p) => p.theme.colors.WHITE_COLOR};
        font-weight: 600;
      }
    }
  } */

tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}

.action-buttons-wrapper {
  display: flex;
  justify-content: center;
}

.action-button1,
.action-button2 {
  margin-right: 1rem;
  cursor: pointer;
}
td,
th {
  padding: 0.3rem 1.3rem;
  font-size: 1.3rem;
}

.action-button1 {
  background: green;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.5rem;
}
.action-button2 {
  background: red;
  padding: 0.5rem 1.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.5rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none;
}

.poptable {
  padding: 1rem;
  font-size: 1.5rem;
  background: black;
  color: white;
}

.inputwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}

.popupinput,
.popupinput1 {
  width: 100%;
  border: black 1px solid;
  background: darkgray;
}

.popupinput1 {
  padding: 1.3rem;
}

.updatebtn {
  background: green;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  float: right;
}
