h1 {
  margin-top: 4rem;
  margin-left: 2rem;
  color: white;
  font-weight: 900;
  font-size: 5rem;
}

.img {
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: auto auto;
}
.content {
  margin-top: 2rem;
}
